@import '_vars';
@import '_global';
@import '_fonts';


// start header
.header__top-inner {
  display: flex;
  justify-content: space-between;
  height: 91px;
  align-items: center;
}
.header__text {
  margin-left: auto;
  margin-right: 50px;
  span {
    color: $red;
  }
}
.header__btn {
  padding: 4px;
  width: 72px;
  border-radius: 4px;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
}
.header__btn-login {
  background-color: $green;
}
.header__btn-register {
  background-color: $red;
  margin-left: 7px;
}
.header__menu {
  background-color: $bg;
}
.menu {
  height: 60px;
  display: flex;
  align-items: center;
}
.menu__list {
  li {
    display: inline-block;

    &+li {
      margin-right: 30px;
    }
  }
  a {
    color: #ffffff;
  }
}
// end header
//start search section

.search{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 543px;

}
.search__inner{
  padding: 155px 0 100px;
  color: #ffffff;
  text-align: center;
  &-title{
    margin-bottom: 10px;
    font-size: 48px;
    @include f700;
    line-height: 72px;
  }
  &-text{
    margin-bottom: 50px;
    font-size: 20px;
    @include f500;
    line-height: 30px;
  }
  &-form{
    max-width: 670px;
    margin: 0 auto;
    position: relative;
    input{
      display: block;
      width: 100%;
      box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
      border-radius: 4px;
      height: 56px;
      border: none;
      font-size: 14px;
      @include f500;
      outline-color: $green;
      padding-left: 25px;
      padding-right: 60px;
      &::placeholder{
        color: #90a4ae;
        @include f500;
      }
    }
    button {
      outline-color: $green;
      position: absolute;
      right: 20px;
      top: 19px;
      border: none;
      background-color: transparent;
    }
  }
}
//end search section
//start products section
.products{
  padding: 110px 0;
  background-color: $grey;
}
.products__inner-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.products__inner-btn{
  text-align: center;
  margin-bottom: 60px;
  button{
    padding: 12px 21px;
    border: none;
    background-color: #ffffff;
    color: $bg;
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 14px;
    cursor: pointer;
    & + button{
      margin-left: 5px;
    }
    &.mixitup-control-active{
      background-color: $red;
      color: #ffffff;
  }
  }
}
.product__item{
  max-width: 442px;
  width: 100%;
  box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
  margin-bottom: 30px;
  &-img{
    min-height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
  }
  &-content{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
    min-height: 90px;
    @include f500;
    border-bottom: 1px solid #e7ecf2;
  }
  &-name{
    max-width: 310px;
  }
  &-title{
    color: $bg;
    font-size: 18px;
    display: block;
    @include f700;
  }
  &-category{
    display: block;
    font-size: 14px;
    color: $green;
  }
  &-price{
    font-size: 20px;
    @include f700;
    color: $bg;
  }
  &-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 10px 30px;
  }
  &-author{
    display: flex;
    align-items: center;
    max-width: 245px;
    .avatar{
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      margin-right: 14px;
    }
    span{
      font-size: 14px;
      @include f500;
    }
  }
  &-star{
    font-size: 12px;
    span{
      color: #000 !important;
    }
  }
}
.products__bottom-btn{
  text-align: center;
  button{
    margin: 45px 5px 0;
    box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
    border: none;
    background-color: #ffffff;
    color: $bg;
    padding: 20px 30px;
    cursor: pointer;
  }
}
//end products section
//start slider section
.product-slider{
  padding: 110px 0 120px;
  &__inner{
    margin: 0 auto;
  }
  .slick-dots{
    text-align: center;
    margin-top: 50px;
    li{
     display: inline-block; 
     &.slick-active{
      button{
      background-color: $green;
      }
     }
     button{
      border-radius: 50%;
      background-color: rgb(232, 232, 232); 
      border: none;
      font-size: 0;
      width: 16px;
      height: 16px;
      margin-left: 3px;
      margin-right: 3px;
      cursor: pointer;
      outline: none;
     }
    }  
  }
}
.slick-slide{
  margin: 0 7px;
}
//end slider section
//start advantages section
.advantages{
  background-color: $bg;
  padding: 120px 0 110px;
}
.advantages__title{
  color: #ffffff;
  margin-bottom: 80px;
}
.advantages__inner{
  display: flex;
  justify-content: space-between;
}
.advantages__item{
  padding: 0 15px;
  max-width: 370px;
  text-align: center;
  transition: all .3s;
  &:hover{
    .advantages__item-images{
      background-color: $green;
      g {
        fill: #fff;
        transition: all .5s;
      }
    }
    .advantages__item-title{
      color: $green;
    }
  }
  &-images{
    width: 113px;
    height: 113px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px;
    transition: all .3s;
  }
  &-title{
    color: #ffffff;
    margin-bottom: 25px;
    @include f500;
    font-size: 24px;
    transition: all .3s;
  }
  &-text{
    color: #b0bec5;
  }
}
//end advantages section
//start author section
.author{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__box{
    background-color: $green;
    max-width: 650px;
    width: 100%;
    min-height: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__title{
    font-size: 30px;
    line-height: 36px;
    color: #ffffff;
    max-width: 300px;
    margin-right: 45px;
    span{
      @include f700;
    }
  }
  &__link{
    transition: all .5s;
    font-size: 18px;
    line-height: 36px;
    color: #263238;
    background-color: #ffffff;
    padding: 14px 43px;
    &:hover{
      background-color: $red;
      color: #fff;
    }

  }
}
//end author section
//start tutorial section
.tutorial{
  padding: 60px 0 120px;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    max-width: 370px;
    width: 100%;
  }
}
.tutorial__item{
  &-images{
    min-height: 270px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

  }
  &-title{
    font-size: 24px;
    @include f700;
    color: $bg;
    background-color: #f8f8f8;
    text-align: center;
    padding: 30px 10px;

  }
}



//end tutorial section